body {
    background: #fff;
}

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

load {
    position: fixed;
    display: block;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000;
}

#apo11o-program {
    position: fixed;
    top: 50%;
    height: 100vh !important;
    width: 100vw !important;
    background-image: url( "https://pbs.twimg.com/profile_images/1217134273934684160/8nMOZ7s__400x400.jpg" );
    background-repeat: no-repeat;
    background-position: center 18vh;
    background-size: 400px 400px;

    -webkit-touch-callout: none;
    user-select: #fff;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    text-align: center;
    color: #fff;
}

.alter-ego {
    display: block;
    font-size: 72pt;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 0 5px #000000;
    line-height: 12pt;
}

.alter-ego::after {
    content: "\A is Apo11o Program. :)";
    white-space: pre;
    font-size: 12pt;
}


@media screen and (max-width: 1100px) {

}

